.board-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.board-detail-header {
  margin-bottom: 20px;
}

.board-meta {
  font-size: 14px;
  color: #666;
}

.board-content p {
  margin-bottom: 20px;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.navigation-buttons button {
  margin-right: 10px;
}

.board-meta-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reply-comment {
  padding-left: 20px; /* 들여쓰기 크기 */
  position: relative;
}

.reply-comment::before {
  content: '';
  width: 2px;
  background-color: #ccc; /* 선 색상 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px; /* 선의 위치 조정 */
}
