.board-detail-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.board-detail-header {
  margin-bottom: 20px;
}

.board-meta {
  font-size: 14px;
  color: #666;
}

.board-content p {
  margin-bottom: 20px;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.navigation-buttons button {
  margin-right: 10px;
}

.board-meta-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reply-comment {
  padding-left: 20px; /* 들여쓰기 크기 */
  position: relative;
}

.reply-comment::before {
  content: '';
  width: 2px;
  background-color: #ccc; /* 선 색상 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 8px; /* 선의 위치 조정 */
}

/* 해시태그 CSS */

/* 상세 페이지에서 해시태그를 표시하는 컨테이너 */
.hashtag-container {
  display: flex; /* 가로로 나열되게 함 */
  flex-wrap: wrap; /* 내용이 많아지면 다음 줄로 넘기기 */
  gap: 8px; /* 해시태그 사이의 간격 */
}

/* 상세 페이지에서 개별 해시태그 스타일 */
.hashtag-container .ant-tag {
  margin-bottom: 8px;
  cursor: default;
}

/* 게시글 수정중에 개별 해시태그 스타일 */
.editable-hashtag {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
}

.editable-hashtag .ant-tag {
  margin-right: 0;
}

.editable-hashtag .delete-tag-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #999;
  padding-left: 4px;
}

.editable-hashtag .delete-tag-btn:hover {
  color: #f00; /* 마우스 오버 시 아이콘 색상 변경 */
}
