.board-container {
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
}

.board-table th,
.board-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table th {
  background-color: #f2f2f2;
}

.board-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
/* '번호' 열의 너비 조정 */
.board-table th:nth-child(1),
.board-table td:nth-child(1) {
  width: 10%; /* '번호' 열의 너비를 전체의 10%로 설정 */
}
/* '제목' 열에 대한 세부 스타일 설정 */
.board-table th:nth-child(2),
.board-table td:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* '작성자' 열의 너비 조정 */
.board-table th:nth-child(3),
.board-table td:nth-child(3) {
  width: 20%; /* 예시로 '작성자' 열의 너비를 전체의 20%로 설정 */
}

/* '작성일' 열의 너비 조정 */
.board-table th:nth-child(4),
.board-table td:nth-child(4) {
  width: 20%; /* 예시로 '작성일' 열의 너비를 전체의 20%로 설정 */
}

.page-numbers {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-numbers button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.page-numbers button[disabled] {
  background-color: #ccc;
}

.new-board-btn {
  display: block;
  width: 100px;
  padding: 10px;
  margin: 20px auto;
  background-color: #28a745;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-board-btn:hover {
  background-color: #218838;
}

.detail-container,
.create-container {
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type='text'],
.input-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.column-id {
  min-width: 8%;
  max-width: 8%;
}

.column-title {
  min-width: 40%;
  max-width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-writer {
  min-width: 15%;
  max-width: 15%;
}

.column-date {
  min-width: 15%;
  max-width: 15%;
}

.column-action {
  min-width: 10%;
  max-width: 10%;
}
